*{
    padding: 0%;
    margin: 0%;
}
/* shared styles */
.btn{
    margin: 12px 16px;
    padding:12px 16px;
    
    background-color: #469161;
    border-radius: 5px;
    color: aliceblue;
}
.btn:hover{
    background-color: gray;
    color: black;
}
.btn2{
    border: 1px solid white;
     margin: 12px 16px;
    padding:12px 16px;
    
    
    border-radius: 5px;
    color: black;
}

/* header s */
nav{
    
    width: 75%;
    margin: 0 auto;
    padding-top: 34px;
   
}
.nav-container{
    display: flex;
    justify-content: space-around;
     margin top:34px;
}
ul{
    display: flex;
    gap: 20px;
     align-items: center;
}
li{
    list-style: none;
    }
li a{
   font-size: 18px;
   color: black;
   font-weight:bold;
    text-decoration: none;
}
/* header end  */
/* banner start  */
#id{
    margin-top: 30px;
}
.back-img{
  
    background:url(../images/hero-bg.png);
    /* height: 713px; */
    background-size: cover;
    
}
.banner-container{
    
    width: 75%;
    padding: 115px 120px 180px 120px; 
    margin: 0% auto;
    align-items: center;
}
.h-button{
    text-align: center;
   margin-bottom: 16px;
   font-size: 16px;
    
}
 .h-button button{
    color:  #469161;;
    border-radius: 8px;
    padding: 10px 8px;
 }
.banner-text h1{
    text-align: center;
    line-height: 84px;
    font-size: 72px;
    font-weight: bold;
    color: white;
}
.banner-text h2{
     text-align: center;
    line-height: 84px;
    font-size: 72px;
    font-weight: bold;
    color:#469161;
}
.banner-container .para{
    text-align: center;
    color:#627382;
    
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.button{
    text-align: center;
}
/* .button{
/* display: flex; */

/* align-items: center;
text-align: center;
}
.banner-container .button{
    text-align: center;
    align-items: center;
     
} */ 
               /* banner section end */

               /*notes section start  */
 #Notes-Section{
               

}             
 .notes-container{
width: 75%;

margin: 0 auto;
                             
 }
 .section-heading{
    
    margin-top: 50px;
    text-align: center;
   }
.section-heading h1{
    font-size: 48px;
    font-weight: bold;
}
.section-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    
}
.notes-container .notes-card{
    margin-top: 30px;
display: flex;
justify-content: space-between;
padding: 40px;
}
.img{
    text-align: center;
    padding-top: 10px;
}
.notes-card img{
    background-color:#F95555;
    border-radius: 100%;
    padding: 10px;

   
} 
.notes-card h3{
    text-align: center;
    font-size: 24px;
    }
.notes-card p{
    line-height: 20px;
    color: #627382;
    text-align: center;
}  


