*{
    padding: 0%;
    margin: 0%;
}
/* shared styles */
.btn{
    margin: 12px 16px;
    padding:12px 16px;
    background-color:rgb(8, 114, 56);
    border-radius: 5px;
    color: aliceblue;
}
.btn:hover{
    background-color: gray;
    color: black;
}

   


nav{
    
    width: 75%;
    margin: 0 auto;
    padding-top: 34px;
   

}
.nav-container{
    display: flex;
    justify-content: space-around;
     margin top:34px ;
}
ul{
    display: flex;
    gap: 20px;
     align-items: center;
}
li{
    list-style: none;
    
    
}
li a{
   font-size: 16px;
   color: black;
   font-weight:bold;
    text-decoration: none;
   
}